body {
  background-color: #f4f4f4;
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  color: #666;
  text-align: center;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 10px;
}

p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

  font-size: 34px;
}

button {
	color: #333;

}

input, button {
	padding: 20px;
		font-size: 20px;
border-radius: 3px;
border: none;
}

.image-wrapper{
  padding: 200px;
  background: url('https://pixabay.com/get/e833b80921f6003ed95c4518b74f4395e375e6dc04b0154693f5c47ea7e9b6_640.jpg')
}

.weather-wrapper {
  padding: 50px;
  border: 5px solid #999;
  border-radius: 3px;
  background-color: #999;
}

.temp {
  margin-bottom: 0;
}

.summary {
  margin-top: 0;
}

.summary-item > * {
  vertical-align: middle;
}

.search-wrapper {
  padding: 20px 0;
}

.error-message {
  color: red;