body {
  background-color: #48AD5B;
}

h1 {
  color: purple;
  text-align: center;
  font-family: "Arial-Rounded MT Bold"
}

p {
  font-family: "Helvetica";
  font-size: 34px;
}

button {
	color: orange;
}

.weather-wrapper {
  padding: 0 20px;
}

.temp {
  margin-bottom: 0;
}

.summary {
  margin-top: 0;
}

.summary-item > * {
  vertical-align: middle;
}

.search-wrapper {
  padding: 20px 0;
}

.error-message {
  color: red;