body {
  background-color: #48AD5B;
}

h1 {
  color: purple;
  text-align: center;
  font-family: "Arial-Rounded MT Bold"
}

p {
  font-family: "Helvetica";
  font-size: 34px;
}

button {
	color: orange;
}