<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Welcome to my website</h1>

  <p id="demo">
    What did the werewolf say to the ghost? 
  </p>

  <button type="button" onclick="myFunction()">
    I dunno, what?
  </button>

</body>

</html>