<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    // my API key - I set an environment variable called API_KEY using heroku
    // to set a heroku env variable - https://devcenter.heroku.com/articles/config-vars
    // to set that same variable locally - https://devcenter.heroku.com/articles/heroku-local#copy-heroku-config-vars-to-your-local-env-file
    // Don't expose API keys on GitHub!
    var apiKey = '<%= process.env.API_KEY %>';
  </script>
  <script src="/js/countryCodes.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

   <h1>Welcome to my website</h1>

  <div class="weather-wrapper">

    <h2 class="city"></h2>
    <h3 class="temp"></h3>
    <p class="summary"></p>

    <hr />
    
    <div class="search-wrapper">
      <input class="search" type="text" placeholder="Enter city name..." />
      <button type="button" onclick="searchWeather()">
        Search
      </button>
      <span class="error-message"></span>
    </div>

   </div>
  <p id="demo">
    What did the werewolf say to the ghost? 
  </p>

  <button type="button" onclick="myFunction()">
    I dunno, what?
  </button>

</body>

</html>